{% extends 'layout.html' %}
{% load static %}
{% load customtags %}

{% block content %}
<form method="get">
    <div class="container select">

        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 left">
            <h1>SHOW</h1>
            <select class="form-select" id="select_tab">
                <option value="orders">Orders</option>
                <option value="products">Products</option>
                <option value="expensive">Most expensive</option>
                <option value="cheap">Cheapest</option>
            </select>
        </div>

        {% include 'year_select.html' %}
    </div>
</form>

<div class="container main tab-content" id="tab-orders">
    <div class="row top {% if data.orders_count > 0 %} button" onclick="toggleContent(1)" {% else %} " {% endif %} >
        {% header title='ORDERS' subtitle=selected_year|year_format %}

        {% if data.orders_count > 0 %} {% group type='orders' content=data.orders_count %} {% group type='months' more=data.orders_months %} {% group type='price' content=data.orders_total_price|floatformat:'-2g'|euro %} {% arrow id=1 %} {% else %}
        {% group type='orders' content=data.orders_count last=True %} {% endif %}
    </div>

    {% if data.orders_count > 0 %}
    <div class="row middle-submain collapse" id="content_1">

        {% for user in data.users %}
            {% user_count_orders user selected_year as orders_count %}
            {% user_orders_total_price user selected_year as orders_total_price %}

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 submain {% if forloop.last %} last {% endif %} clickable" onclick="newPage('{% url 'user_view' id=user.id %}?year={{ selected_year }}')">
                <div class="row top">
                    {% header title=user.full_name|sequence:forloop.counter subtitle=selected_year|year_format %}
                </div>
                <div class="row middle">
                    {% group type='orders' content=orders_count %}
                    {% group type='price' content=orders_total_price|floatformat:'-2g'|euro last=True %}
                </div>
            </div>
        {% endfor %}

    </div>
    {% endif %}
</div>

<div class="container main tab-content" id="tab-products">
    <div class="row top {% if data.items_count > 0 %} button" onclick="toggleContent(2)" {% else %} " {% endif %} >
        {% header title='PRODUCTS' subtitle=selected_year|year_format %}

        {% if data.items_count > 0 %} {% group type='products' content=data.items_count %} {% group type='material' more=data.items_materials %} {% group type='color' more=data.items_colors %} {% group type='amount' content=data.items_amount|floatformat:'g' %} {% group type='price' content=data.items_price|floatformat:'-2g'|euro %} {% arrow id=2 %} {% else %}
        {% group type='products' content=data.items_count last=True %} {% endif %}
    </div>

    {% if data.items_count > 0 %}
    <div class="row middle-submain collapse" id="content_2">

        {% for item in data.items %}
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 submain {% if forloop.last %} last {% endif %}">
                <div class="row top">
                    {% header title=item.name|sequence:forloop.counter subtitle=selected_year|year_format %}
                </div>
                <div class="row middle">
                    {% group type='material' more=item.materials_list %}
                    {% group type='color' more=item.colors_list %}
                    {% group type='amount' content=item.amount|floatformat:'g' %}
                    {% group type='price' content=item.price|floatformat:'-2g'|euro last=True %}
                </div>
            </div>
        {% endfor %}

    </div>
    {% endif %}
</div>

<div class="container main tab-content" id="tab-expensive">
    <div class="row top {% if data.expensive %} button" onclick="toggleContent(3)" {% else %} " {% endif %} >
        {% header title='MOST EXPENSIVE ORDER' subtitle=selected_year|year_format %}

        {% if data.expensive %} {% group type='customer' content=data.expensive.user.full_name %} {% group type='price' content=data.expensive.price|floatformat:'-2g'|euro %} {% arrow id=3 %} {% else %}
        {% group type='customer' content='-' last=True %} {% endif %}
    </div>

    {% if data.expensive %}
    <div class="row middle-submain collapse" id="content_3">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 submain last clickable" onclick="newPage('{% url 'order_view' id=data.expensive.id %}')">
            <div class="row top">
                {% header title=data.expensive.id|order_format right=data.expensive.ordered_date|date:'j.n.Y. G:i' %}
            </div>
            <div class="row middle">
                {% group type='customer' content=data.expensive.user.full_name %}
                {% group type='status' content=data.expensive.get_order_status_display|status_date:data.expensive %}
                {% group type='items' content=data.expensive.items_count %}
                {% group type='amount' content=data.expensive.amount|floatformat:'g' %}
                {% group type='price' content=data.expensive.price|floatformat:'-2g'|euro last=True %}
            </div>
        </div>
    </div>
    {% endif %}
</div>

<div class="container main tab-content" id="tab-cheap">
    <div class="row top {% if data.cheap %} button" onclick="toggleContent(4)" {% else %} " {% endif %} >
        {% header title='CHEAPEST ORDER' subtitle=selected_year|year_format %}

        {% if data.cheap %} {% group type='customer' content=data.cheap.user.full_name %} {% group type='price' content=data.cheap.price|floatformat:'-2g'|euro %} {% arrow id=4 %} {% else %}
        {% group type='customer' content='-' last=True %} {% endif %}
    </div>

    {% if data.cheap %}
    <div class="row middle-submain collapse" id="content_4">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 submain last clickable" onclick="newPage('{% url 'order_view' id=data.cheap.id %}')">
            <div class="row top">
                {% header title=data.cheap.id|order_format right=data.cheap.ordered_date|date:'j.n.Y. G:i' %}
            </div>
            <div class="row middle">
                {% group type='customer' content=data.cheap.user.full_name %}
                {% group type='status' content=data.cheap.get_order_status_display|status_date:data.cheap %}
                {% group type='items' content=data.cheap.items_count %}
                {% group type='amount' content=data.cheap.amount|floatformat:'g' %}
                {% group type='price' content=data.cheap.price|floatformat:'-2g'|euro last=True %}
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
