{% load static %}
{% load customtags %}

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 row group input {% if last == True %} last {% endif %}">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3 image">
        <img src="{{ image }}" id="{{ image_id }}">
    </div>
    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-9 col-9 text">
        <h1>{{ i.title }}</h1>
        <div class="row password">
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 input">
                <input class="form-control"
                       type="{{ i.type }}"
                       id="{{ i.id }}"
                       placeholder="{{ i.placeholder }}"
                       {% if i.value %} value="{{ i.value }}" {% endif %}
                       {% if i.onchange %} onchange="{{ i.onchange }}" {% endif %}>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 image" onclick="hideShowPwd()">
                <img src="{% static 'images/visibility_off.png' %}" id="hide_show_image">
            </div>
        </div>
    </div>
</div>